version: '3.8'

services:
  server:
    image: node:14
    container_name: nodejs_server
    working_dir: /app
    volumes:
      - ./app:/app
    ports:
      - "3001:3000"
    command: npm start

  caddy:
    image: caddy:latest
    container_name: caddy_server
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
    ports:
      - "80:80"
      - "443:443"

  plausible:
    image: plausible/analytics:latest
    container_name: plausible_analytics
    environment:
      - DB_DRIVER=sqlite3
      - DB_DATABASE=/data/plausible.db
    volumes:
      - plausible_data:/data
    ports:
      - "8000:8000"

volumes:
  caddy_data:
  plausible_data:
